/* menu */

.mobile-menu-select {
    display: none;
}
.menu-mobile {
  display: none;
}
.menu-desktop-list-wrapper {
    margin-top: 0;
}
.menu-desktop-header {
    background-color: #1d3243;
    color: white;
}
.menu-desktop-link-main {
    position: relative;
    color: white !important;
    font-weight: bold;
    font-size: 16px !important;
    padding: 10px 15px;
}
.menu-desktop-item-title {
    display: block;
    font-family: arial,sans-serif;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 15px;
    color: #8a98a1;
    padding-left: 15px;
    font-family: arial,sans-serif;
}
.menu-desktop-list-wrapper--first-level {
    padding-left: 15px;
    font-size: 14px;
    font-family: arial,sans-serif;
}
.menu-desktop-link-main::before {
    content: '';
    display: block;
    width: 87%;
    height: 24px;
    position: absolute;
    background-image: url(./icons/arrow.png);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
.menu-desktop-link {
    display: block;
    color: #1d3243;
    font-family: arial,sans-serif;
    transition: color .15s ease-out;
    margin-bottom: 10px;
    font-size: 14px;
    text-decoration: none;
}
.menu-desktop-link:hover {
    color: #f0c500;
    text-decoration: none;
}
/* menu end */


/* select native and custom */
.selectNative,
.selectCustom {
  position: relative;
  width: 80%;
  height: 3rem;
  margin: 0 auto;
}
.selectCustom {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  .selectNative:focus,
  .selectCustom.isActive .selectCustom-trigger {
    outline: none;
    box-shadow: white 0 0 0 0.2rem, goldenrod 0 0 0 0.4rem;
  }
  .select {
    position: relative;
  }
  
  .selectLabel {
    display: block;
    font-weight: bold;
    margin-bottom: 0.4rem;
  }
  
  .selectWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .selectNative,
  .selectCustom-trigger {
    font-size: 1.2rem;
    background-color: #fff;
    border: 1px solid #6f6f6f;
    border-radius: 0.4rem;
  }
  
  .selectNative {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 0.8rem;
    padding: 0rem 0.8rem;
    margin: 0 auto;
  }
  
  .selectCustom-trigger {
    position: relative;
    width: 80%;
    height: 100%;
    background-color: #fff;
    padding: 0.5rem 0.4rem;
    cursor: pointer;
    margin: 0 auto;
  }
  
  .selectCustom-trigger::after {
    content: "▾";
    position: absolute;
    top: 0;
    line-height: 2.8rem;
    right: 0.8rem;
  }
  
  .selectCustom-trigger:hover {
    border-color: gold;
  }
  
  .selectCustom-options {
    position: absolute;
    top: calc(3.8rem + 0.8rem);
    left: 0;
    width: 100%;
    border: 1px solid #6f6f6f;
    border-radius: 0.4rem;
    background-color: #fff;
    box-shadow: 0 0 4px #e9e1f8;
    z-index: 1;
    padding: 0.8rem 0;
    display: none;
  }
  
  .selectCustom.isActive .selectCustom-options {
    display: block;
  }
  
  .selectCustom-option {
    position: relative;
    padding: 0.8rem;
    padding-left: 2.5rem;
  }
  
  .selectCustom-option.isHover {
    background-color: rgb(39, 210, 223); 
    color: white;
  }
  
  .selectCustom-option:not(:last-of-type)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #d3d3d3;
  }
  
  .selectCustom-option.isActive::before {
    content: "✓";
    position: absolute;
    left: 0.8rem;
  }
@media (max-width: 576px) {
    .menu-desktop {
        display: none;
    }
    .menu-mobile {
        display: block;
    }
}
@media (hover: hover) {
    .selectCustom {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .selectNative:focus + .selectCustom {
        display: none;
      }
  }