.wishList-wrapper {
    max-width: 1200px;
    margin-top: 26px;
}
.whishList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-top: 0;
}
.whishList-item {
    background: #eaeff3;
    max-width: 255px;
    margin: 0 auto;
    margin-bottom: 50px;
    position: relative;
    height: max-content;

}
.station-info-title {
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}
.whishList-title {
    font-family: gotham_book,arial,sans-serif;
    color: #1d3243;
    margin-bottom: 10px;
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: lighter;
}
.whishList-resides {
    font-weight: 700;
}
.whishList-intitule, .whishList-persons, .whishList-refTitre, .whishList-ref-val, .whishList-resides, .whishList-value {
    font-size: 12px;
    font-family: gotham_book,arial,sans-serif;
    color: #1d3243;
}
.whishList-ref {
    display: block;
}
.whishList-imageLink {
    position: relative;
    display: block;
    margin-top: auto;
}
.whishList-imageLink:hover .whishList-mask {
    opacity: 1
}
.whishList-image {
    display: block;
}
.whishList-mask {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: gotham_book,arial,sans-serif;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgba(29,50,67,.7);
    color: #fff;
    font-size: 13px;
    text-align: center;
    transition: opacity .25s ease-out;
}
.whishList-loupe {
    font-size: 50px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.whishList-ref-val {
    font-style: italic;
    text-transform: uppercase;
}
.whishList-header {
    padding: 12px;
    border-bottom: 1px solid #fff;
}
.whishList-body {
    padding: 12px;
    border-bottom: 1px solid #fff;
}
.whishList-img-wrapper {
    height: 260px;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}
.whishList-button {
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 3px;
}
.btn-header {
    background-color: #fff;
    border: 1px solid #d7dde1;
    position: relative;
    text-transform: none;
    font-weight: 100;
    font-size: 10px;
    color: #1d3243;
    font-weight: bold;
    box-sizing: border-box;
    display: flex;
    width: 48%;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-btn-icon {
    background-color: #1d3243;
    display: flex;
    width: 40%;
    height: 100%;
    color: white;
    font-size: 17px;
    justify-content: center;
    align-items: center;
}
.header-btn-text {
    display: flex;
    text-align: center;
    width: 60%;
    justify-content: center;
}
.whishList-prixDates {
    display: flex;
    flex-direction: column;
}
.whishList-date {
    font-size: 11px;
}
.reserver_whishList {
    background: #e5322c;
    color: #ffffff;
    display: inline-block;
    font-family: "gotham_bold",arial,sans-serif;
    font-size: 12px;
    padding: 6px 14px;
    text-transform: uppercase;
    transition-property: border-radius,background-color;
    transition-duration: 0.25s;
    width: 100%;
    text-align: center;
}
.reserver_whishList::before {
    content: '+ ';
    font-family: arial;
    font-weight: bold;
    font-size: 14px;
}
.reserver_whishList:hover {
    border-radius: 10px;
    background-color: #000000;
}

.btn.focus, .btn:focus {
    box-shadow: none;
}
.btn-link[aria-expanded="false"] {
    font-size: 14px;
    color: white;
}
.btn-link[aria-expanded="true"] {
    font-size: 14px;
    color: gold;
}
.btn-link::after {
    content: "+";
    color: white;
    top: 7px;
    right: 15px;
    position: absolute;
    font-family: "FontAwesome";
}
.btn-link[aria-expanded="true"]::after {
    content: "-";
    color: gold;
}
.server-icon-wrapper {
    display: flex;
}
.whishList-value {
    display: block;
    margin-bottom: 5px;
}
.serves-icon-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.station-info-table {
    display: flex;
}
.station-info-table div {
    font-weight: bold;
    font-size: 11px;
}
.serves-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    background-color: #1d3243;
    color: white;
    font-size: 16px;
}
.info-row {
    display: flex;
    flex-direction: column;
}
.left-row {
    width: 47%;
}
.right-row {
    width: 57%;
}
.serves-bed-icon {
    width: 64%;
    height: 64%;
}
.card-body-station-info {
    padding: 6px !important;
}
.station-info-total {
    color: red;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 5px;

}
.info-img {
    width: 100%;
    height: 90%;
}
.station-info {
    position: relative;
    width: 108px;
    top: 5px;
    left: 8%;
    text-align: left;
}
.station-info-min {
    color: goldenrod;
    font-size: 10px;
    font-weight: bold;
}
.station-info-max {
    color: black;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 5px;
}
.station-info-wrapper {
    display: flex;
}
.close-cross {
    width: 20px;
    height: 20px;
    background: black;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    position: absolute;
    right: -8px;
    top: -8px;
    cursor: pointer;
}
.card-header {
    padding: 0;
    font-size: 11px;
    background: #1d3243;
}
.mountens {
    width: 100%;
    height: 35%;
    object-fit: contain;
}
.card-body {
    background: #eaeff3;
    font-size: 12px;
    padding: 15px;
}
.card-body ul {
    margin: 0;
}
.accountMenu-link.accountMenu-dashboard  {
    background-color: #1d3243;
    padding: 10px;
    color: white;
}

.circle-wrapper {
    width: 62%;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
}
.circle-item {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.circle-item--red {
    background-color: #dd182f;
}
.circle-item--blue {
    background-color: #009ee0;
}
.circle-item--grey {
    background-color: gray;
}
.circle-item--green {
    background-color: #41a62a;
}